.question__wrapper {
    justify-self: center;
    text-align: center;
    background: #F4F4F4;
    padding: 10px;
}
.question__header {
    font-size: 2em;
}

.question__next-btn {
    border: none;
    border-radius: 8px;
    width: 100px;
    margin: 20px 0 0 5px;
    padding: 5px;
    font-size: 1.2em;
    border: 2px solid #2371A4;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}